<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <header class="mainheader">
        <div class="container mainheader__container">
            <a href="/">
                <img class="mainheader__logo" src="/images/msiLogo.png" alt="logo msi">
            </a>
            <div class="mainheader__hamburguerbtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="mainheader__nav">
                <div class="mainheader__linkcontainer">
                    <a href="/store" class="mainheader__link">PRODUCTS</a>
                    <div class="mainheader__linkhover mainheader__linkhover--selected"></div>
                </div>
                <div class="mainheader__linkcontainer">
                    <a href="#" class="mainheader__link">COMMUNITY</a>
                    <div class="mainheader__linkhover"></div>
                </div>
                <div class="mainheader__linkcontainer">
                    <a href="#" class="mainheader__link">WHAT'S NEW</a>
                    <div class="mainheader__linkhover"></div>
                </div>
                <div class="mainheader__linkcontainer">
                    <a href="#" class="mainheader__link">SUPPORT</a>
                    <div class="mainheader__linkhover"></div>
                </div>
                <div class="mainheader__linkcontainer--shopcart">
                    <a href="#" class="mainheader__link"><img src="/images/shopCart.png" alt="Shop cart vector"></a>
                </div>
            </div>
            <div class="mainheader__navmobile">
                <div class="mainheader__linkcontainer">
                    <a href="/store" class="mainheader__link">PRODUCTS</a>
                </div>
                <div class="mainheader__linkcontainer">
                    <a href="#" class="mainheader__link">COMMUNITY</a>
                </div>
                <div class="mainheader__linkcontainer">
                    <a href="#" class="mainheader__link">WHAT'S NEW</a>
                </div>
                <div class="mainheader__linkcontainer">
                    <a href="#" class="mainheader__link">SUPPORT</a>
                </div>
            </div>
        </div>
    </header>

    {{{ body }}}

    <footer class="mainfooter">
        <section class="mainfooter__section">
            <div class="mainfooter__container">
                <a href="#" class="mainfooter__link mainfooter__link--title">COMMUNITY</a>
                <hr class="mainfooter__line mainfooter__line--hidden">
                <a href="#" class="mainfooter__link">MSI Reward Program</a>
                <a href="#" class="mainfooter__link">Forums</a>
                <a href="#" class="mainfooter__link">Social Media</a>
                <a href="#" class="mainfooter__link">Videos</a>
                <a href="#" class="mainfooter__link">Gaming Teams</a>
                <a href="#" class="mainfooter__link">Blogs</a>
                <a href="#" class="mainfooter__link">Customer Stories</a>
            </div>

            <div class="mainfooter__container">
                <a href="#" class="mainfooter__link mainfooter__link--title">NEWS</a>
                <hr class="mainfooter__line mainfooter__line--hidden">
                <a href="#" class="mainfooter__link">News</a>
                <a href="#" class="mainfooter__link">Awards</a>
                <a href="#" class="mainfooter__link">RSS</a>
            </div>

            <div class="mainfooter__container">
                <a href="#" class="mainfooter__link mainfooter__link--title">SUPPORT</a>
                <hr class="mainfooter__line mainfooter__line--hidden">
                <a href="#" class="mainfooter__link">Downloads</a>
                <a href="#" class="mainfooter__link">Member Center</a>
                <a href="#" class="mainfooter__link">Online Customer</a>
                <a href="#" class="mainfooter__link">Service</a>
                <a href="#" class="mainfooter__link">Warranty</a>
            </div>

            <div class="mainfooter__container">
                <a href="#" class="mainfooter__link mainfooter__link--title">ABOUT MSI</a>
                <hr class="mainfooter__line mainfooter__line--hidden">
                <a href="#" class="mainfooter__link">MSI Vision</a>
                <a href="#" class="mainfooter__link">Brand Story</a>
                <a href="#" class="mainfooter__link">Investor Information</a>
                <a href="#" class="mainfooter__link">Innovation DNA</a>
                <a href="#" class="mainfooter__link">Certificate</a>
                <a href="#" class="mainfooter__link">CSR</a>
                <a href="#" class="mainfooter__link">Supreme Quality Standard</a>
            </div>
        </section>
        <hr class="mainfooter__line">
        <div class="mainfooter__information">
            <div class="mainfooter__terms">
                <a href="#" class="mainfooter__link mainfooter__link--footer">Contact Us</a>
                <a href="#" class="mainfooter__link mainfooter__link--footer">Privacy Policy</a>
                <a href="#" class="mainfooter__link mainfooter__link--footer">Terms of Use</a>
                <a href="#" class="mainfooter__link mainfooter__link--footer">Global / English</a>
            </div>
            <div class="mainfooter__copyright">
                <a href="#" class="mainfooter__link mainfooter__link--copyright">Copyright © 2020 Micro Star INT'L CO.,
                    LTD. All rights reserved.</a>
            </div>
        </div>
    </footer>
    
</body>
</html>