<section class="checkout">
    <div class="checkout__title">
        <p>Shopping Cart</p>
    </div>
    <div class="checkout__subtitle">
        <p class="checkout__subtitleunit">Unit</p>
        <p class="checkout__subtitleprice">Price</p>
    </div>
    <div class="checkout__container">
        {{!-- <div class="checkout__product">
            <hr class="checkout__line">
            <div class="checkout__infocontainer">
                <div class="checkout__imgname">
                    <div class="checkout__productimg">
                        <img class="checkout__image" src="/images/products/aegis_r_4.png" alt="titulo">
                    </div>
                    <div class="checkout__productname">
                        NOMBRE PRUEBA
                    </div>
                </div>
                <div class="checkout__productprice">
                    $ 3456.00
                </div>
            </div>
        </div> --}}
    </div>
</section>
<footer class="checkout__footer">
    <button class="checkout__button">
        Go to payment
    </button>
    <img class="checkout__img" src="/images/checkoutDrake.png" alt="Msi dragon">
</footer>