<div class="product">
    <header class="product__header">
        <h2 class="product__name">{{ title }}</h2>
    </header>

    <section class="product__section">
        <a href="#">
            <img class="product__image" src="{{ img }}" alt="{{ title }}">
        </a>
        <p class="product__price">
           $ {{ price }}.00
        </p>
    </section>

    <footer class="product__footer">
        <button class="product__button">
            Add
        </button>
    </footer>
</div>