.mainslider{

    font-size: 0;

    &__container{
        display: flex;
        flex-direction: row;
    }

    &__imagecontainer{
        max-width: 25%;
    }

    &__image{
        width: 100%;
    }

    @media (max-width: $breakpoint-sm){
        &__container{
            display: flex;
            flex-wrap: wrap;
        }

        &__imagecontainer{
            max-width: 50%;
        }
        
    }

}