.mainheader{
    background-color: $primary-color;
    
    &__logo{
        margin: 10px;
        width: 100%;
        @media (max-width: $breakpoint-sm){
            margin: 10px auto;
            width: 60%;
        }
    }

    &__container{
        align-items: center;
    }

    &__linkcontainer{
        display: flex;
        align-items: center;
        padding: 35px 30px;
        position: relative;

        &--shopcart{
            padding: 35px 0 30px 20px;
        }

        @media (max-width: $breakpoint-sm){
            padding: 10px 10px;
        }
    }

    &__shopcartnumbercontainer{
        display: flex;
        position: absolute;
        background-color: $secondary-color;
        border-radius: 100px;  
        padding: 1px 5px;
        bottom: 52px;
        right: -8px;
    }

    &__shopcartnumber{
        color: white;
        font-family: $tertiary-font-family;
        font-size: 10px;
    }

    &__link{
        color: #8D8D8D;
        text-decoration: none;
        font-size: 18px;
        @media (max-width: $breakpoint-sm){
            font-size: 14px;
        }
    }

    &__linkhover{
        &--selected{
            position: absolute;
            background-color: $secondary-color;
            width: 100%;
            height: 5px;
            z-index: 2;
            bottom: 0;
            left: 0;
        }
    }

    &__nav{
        position: relative;
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: row;

        @media (max-width: $breakpoint-sm){
            display: none;
        }
    }

    &__navmobile{
        display: none;
        &--active{
            @media (max-width: $breakpoint-sm){
                padding: 10px 5px;
                width: 50%;
                height: 100%;
                display: flex;
                position: absolute;
                flex-direction: column;
                top: 61.19px;
                right: 0;
                background-color: rgba(24, 24, 24, 0.9);
                z-index: 2;
            }
        }
    }

    &__hamburguerbtn{
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        display: none;
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
        border: none;
        align-items: stretch;
        margin-left: auto;
        span{
            height: 4px;
            width: 120%;
            background-color: white
        }
        @media (max-width: $breakpoint-sm){
         display: flex;
        }
    }
}


